# =====================
# INTELLIJ IDEA
# =====================
.idea/
*.iml
*.iws
*.ipr
out/

# =====================
# ECLIPSE
# =====================
.classpath
.project
.settings/
.metadata/

# =====================
# MAVEN
# =====================
bin/classes/
bin/generated-sources/
bin/maven-archiver/
bin/maven-status/

# =====================
# MACOS
# =====================
.DS_Store

# =====================
# WINDOWS
# =====================
Thumbs.db
desktop.ini

# =====================
# JAVA
# =====================
*.class

# =====================
# LOG E TEMPORANEI
# =====================
*.log
*.tmp